/* This CSS file will center two buttons for login and sign up */

body {
    min-width: 100%;
    min-height: 100%;
    background-size: 100% 100%;
    background: url("/resources/images/cars.jpg") no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid div .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkslategrey;
    font-size: 20px;
    padding: 10px 20px;
    border: darkslategrey 1px solid;
    border-radius: 5px;
}

.container-fluid div .register {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkslategrey;
    font-size: 20px;
    padding: 10px 20px;
    border: darkslategrey 1px solid;
    border-radius: 5px;
}

.container-fluid .login:hover, .container-fluid .register:hover {
    color: #0077FF;
}